* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.wraper {
    width: 600px;
    margin: auto;
    padding: 10vh 0;
}

img {
    margin-bottom: 50px;
    border-radius: 10px;
}

.nav-info {
    padding-left: 5%;
    width: 55%;
    float: left;
    height: 100%;
}

.nav-info p {
    margin-left: 20px;
    padding-bottom: 10px;
}

.nav-info p:first-child {
    margin-top: 20px;
}

.nav-chart {
    width: 40%;
    float: left;
    
}

br {
    clear: both;
}