* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wraper {
    max-width: 600px;
    margin: 0 auto;
}

.image {
    border-radius: 3%;
    height: 100%; width: 100%; 
    object-fit: contain;
}

.nav-chart {
    padding: 20px 0;
    user-select: none;
}

#percent-circle {
    margin: 0 auto;
}