* {
    font-family: 'Roboto', sans-serif;
}

.wraper {
    max-width: 600px;
    margin: 0 auto;
}

.image {
    border-radius: 3%;
    width: 100%;
    height: auto;
}

.nav-chart {
    padding: 20px 0;
    user-select: none;
}

#percent-circle {
    margin: 0 auto;
}